.sidebar{
    background-image: linear-gradient(180deg, #485563, #29323c);
    position: absolute;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar a{
    text-decoration: none;
}
.sidebar li:hover span{
    display: inline-block;
    transform:translate(3px)
}
.sidebar svg{
    margin-right: 10px;
}