.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.font-link{
  font-family: 'Roboto Slab', serif;
}
.text-color{
  color: #a02644;
}
.btn-color{
  background-image: linear-gradient(75deg, #058115,#269768);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  border-radius: 5px;
  height: 40px;
}
