/* .book button{
    border-radius: 20px;

}  */
.Booking{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('../../../images/service.jpg'); */
    background-size: cover;
    background-position: top center;
}
/* .Booking::after{
    content: "" ;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('../../../images/service.jpg');
    background-size: cover;
    background-position: top center;
    opacity: 0;
    
} */
/* .book{
    transition-property: width;
    transition-duration: 2s;
}
.book:hover{
    font-size: 40px;
} */